<%layout('layout/boilerplate')-%>

<div class="row">
    <div class="col-lg-4">
        <div class="card mt-5 pt-3 d-flex align-items-center" style="width: 18rem;">
            <img src="<%=profile.image%>" class="card-img-top image" alt="...">
            <div class="card-body">
            <h5 class="card-title">Username: <%=profile.username%></h5>
            <h6 class="card-text">Name: <%=profile.Name%></h6>
            <p class="card-text">Email Address: <%=profile.email%></p>
            <p class="card-text">BIO: <%=profile.bio%></p>
            <p class="card-text">Address: <%=profile.Address%></p>
            <%if(user && profile.id==user.id){%>
            <a href="/profile/edit/<%=profile.id%>" class="btn btn-primary">Edit</a>
            <%}%>
            </div>
        </div>
    </div> 
    <!-- <div class="col-lg-8">
        <%-include('../partials/card')%>
    </div> -->
</div>